---
import Layout from '../layouts/Layout.astro';
import Header from '../components/HomePage/Header/Header.astro';
import Body from '../components/HomePage/Body/Body.astro';
import Footer from '../components/HomePage/Footer/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header />
		<Body />
		<Footer />
	</main>
</Layout>
