.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.image {
    display: block;
}
  
.text {
    width: 100%;
}
    
.text > h2 {
    color: #fff;
    font-size: 85px;
    text-align: center;
    width: 500px;
    border-bottom: solid 3px #fff;
    text-shadow: #000 2px 2px 0;
    padding-bottom: 16px;
    margin: 0 auto;
}

.text div {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.text ul {
    width: 100%;
    padding: 0 32px;
    border-left: #fff 3px solid;
}

.text ul:first-of-type {
    border-left: none;
}

.text li {
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    list-style: none;
    display: flex;
    align-items: center;
    height: 42px;
    justify-content: center;
}

.text li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.text li a:hover {
    text-decoration: underline;
}
    
.text p {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

@media screen and (max-width: 796px) {
    .image {
        display: none;
    }

    .text > h2 {
        font-size: 60px;
        width: 100%;
    }

    .text div {
        flex-direction: column;
    }

    .text ul {
        padding: 0;
        border-left: none;
    }

    .text li {
        margin-top: 8px;
        height: 32px;
    }
}