---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logoSmall.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 100 900;
		font-display: swap;
		src: url('/fonts/Inter-Medium.ttf');
	}

	@font-face {
		font-family: 'Kanit';
		font-style: normal;
		font-weight: 100 900;
		font-display: swap;
		src: url('/fonts/Kanit-Light.ttf');
	}

	@font-face {
		font-family: 'KanitBold';
		font-style: normal;
		font-weight: 100 900;
		font-display: swap;
		src: url('/fonts/Kanit-SemiBold.ttf');
	}

	@font-face {
		font-family: 'Katibeh';
		font-style: normal;
		font-weight: 100 900;
		font-display: swap;
		src: url('/fonts/Katibeh-Regular.ttf');
	}

	body {
		font-family: Arial, sans-serif;
		margin: 0;
	}
	
	main {
		width: 100%;
		max-width: 1440px;
		background-color: #D0D5E9;
		margin: 0 auto;
	}
</style>
